/* Styling for the active page link */
.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #007bff !important;
  border-bottom: 3px solid #007bff;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-toggler-icon {
  transition: transform 0.3s ease;
}

.navbar-toggler:is(.collapsed) .navbar-toggler-icon {
  transform: rotate(180deg);
}
